<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style></style>
</th:block>

<head>
    <!-- Ajax를 사용하기 위해서 토큰을 넣어준다. -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">상품상세</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <input type="hidden" id="itemId" th:value="${item.id}"/>

                <div class="col-md-6">
                    <div class="item-entry">
                        <a href="#" class="product-item md-height bg-gray d-block">
                            <img th:src = "${item.itemImgDtoList[0].imgUrl}" th:alt = "${item.itemNm}" class="rounded repImg" />
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="badge badge-primary mgb-15"></span>
                    <h2 class="text-black" th:text="${item.itemNm}"></h2>

                    <p>
                        <input type="hidden" id="price" name="price" th:value="${item.price}"/>
                        <strong class="text-primary h4" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')} + 원"></strong>
                    </p>

                    <div class="mb-5">
                        <div class="input-group mb-3" style="max-width: 120px">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus count_btn" type="button" >&minus;</button>
                            </div>
                            <input
                                    type="text"
                                    class="form-control text-center"
                                    value="1"
                                    placeholder=""
                                    aria-label="Example text with button addon"
                                    aria-describedby="button-addon1"
                                    name="count"
                                    id="count"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus count_btn" type="button">&plus;</button>
                            </div>
                        </div>
                        <div>
                            <h5 style="display: inline-block; margin-right: 15px; color: black; font-weight: bold">총 상품 금액</h5>
                            <strong id="totalPrice" class="text-primary h4"></strong>
                        </div>
                    </div>
                    <p th:if="${#strings.equals(item.itemSellStatus, 'SELL')}">
                        <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
                    </p>
                    <p th:unless="${#strings.equals(item.itemSellStatus, 'SELL')}"> 해당 상품은 현재 품절입니다.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section block-3 site-blocks-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Product Detail</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="white-space: pre-wrap" th:text="item.itemDetail"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center" th:each="itemImg : ${item.itemImgDtoList}">
                        <img class="rounded mgb-15" width="800" th:if="${not #strings.isEmpty(itemImg.imgUrl)}"
                        th:src = "${itemImg.imgUrl}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        //처음 상세페이지 화면에 들어올때 총 상품금액이 바로 보여야 하므로 실행
        calculateTotalPrice();

		$('.js-btn-minus').on('click', function(e){
			e.preventDefault();
			if ( $(this).closest('.input-group').find('.form-control').val() > 1  ) {
				$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) - 1);
			} else {
				$(this).closest('.input-group').find('.form-control').val(parseInt(1));
			}

			calculateTotalPrice();
		});
		$('.js-btn-plus').on('click', function(e){
			e.preventDefault();
			const stock = [[${item.stockNumber}]]; // 재고
			var count = $("#count").val(); // 수량

			if(count >= stock) {
			       alert("더이상 재고가 존재하지 않습니다!");
			       $(this).closest('.input-group').find('.form-control').val(parseInt(count));
			       return;
			}


			$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) + 1);

			calculateTotalPrice();
		});

        function calculateTotalPrice() {
            var count = $("#count").val(); // 수량
            var price = $("#price").val(); // 가격
            var totalPrice = (price * count).toLocaleString('ko-KR'); // 천단위 콤마
            $("#totalPrice").html(totalPrice + '원'); // 총가격 출력
        }

        function order() {
            // ★헤더에 있는 토큰 값을 가지고 온다(반드시 같이 전송해야 함)
            var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			//서버에 전달할 데이터. 상품id, 수량
			var paramData = {
			    itemId : $("#itemId").val(),
			    count: $("#count").val()
			};
            //JSON -> 문자열 변경(ajax는 전달하는 데이터를 문자열로 만들어야한다)
			var param = JSON.stringify(paramData);

		    $.ajax({
                    url : "/order", // request url
                    type : "POST",
                    contentType : "application/json",
                    data : param, // 서버에 전송할 데이터
                    beforeSend : function(xhr) {
                    //데이터 전송하기전에 헤더에 csrf토큰을 설정
                        xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache : false,
                    success : function(result, status) {
                        alert("주문이 완료 되었습니다." + result);
                    },
                    error : function(jqXHR, status, error) {
                        if(jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요.');
                            location.href = '/members/login';
                        } else {
                            //에러메시지 출력
                            alert(jqXHR.responseText);
                        }
                    }
			});

        }



    </script>
</th:block>
</html>