<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style>
        .error {
           color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">로그인</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">로그인</h2>
                    <div class="p-3 p-lg-5 border">
                        <form role="form" action="/members/login" method="post">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="email" class="text-black">이메일</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="password" class="text-black">비밀번호</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요" />
                                </div>
                            </div>

                            <div class="form-group">
                                <p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}" class="error"></p>
                                <label><input type="checkbox" name="id_save" id="id_save" />이메일 기억</label>
                                <div>
                                    <button type="submit" class="btn btn-primary mb-3" id="loginbtn">로그인</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-primary mb-3"
                                            onclick="location.href='/members/new'">회원가입</button>
                                </div>
                            </div>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        var userInputId = getCookie("userInputId"); // 쿠키값(이메일)을 가져온다
        var setCookieYN = getCookie("setCookieYN"); // 쿠키값(이메일 저장 여부)를 가져온다.

        if(setCookieYN == 'Y') { //이메일 저장 여부가 'Y'면
            $("#id_save").prop("checked", true); // 이메일 저장 체크박스를 체크한다.
            $("#email").val(userInputId); // 이메일 input창에 쿠키에서 가져온 이메일 주소를 넣는다.
        } else {
            $("#id_save").prop("checked", false);
        }

        //로그인 버튼 클릭시 이메일 저장이 클릭되어 있다면 쿠키에 이메일 저장 여부, 이메일 저장
        $("#loginbtn").click(function() {
            if($("#id_save").is(":checked")) { // 만약에 이메일 저장이 체크되어있다면
                   var userInputId = $("#email").val(); // 입력한 이메일을 가지고 온다.

                   //쿠키 생성
                   setCookie("userInputId", userInputId, 60); // 60일동안 저장
                   setCookie("setCookieYN", "Y", 60);
            } else { // 이메일 저장이 체크되어있지 않다면
                    //쿠키 삭제
                    deleteCookie("userInputId");
                    deleteCookie("setCookieYN");
            }
        });



    </script>
</th:block>
</html>