<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style>
        .fieldError {
           color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">회원가입</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">회원가입</h2>
                    <div class="p-3 p-lg-5 border">
                        <form role="form" action="/members/new" method="post" th:object="${memberFormDto}">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="name" class="text-black">이름</label>
                                    <!-- /* th:field: -> name, id, value 속성을 생성해줌 */-->
                                    <input type="text" class="form-control"
                                           placeholder="이름을 입력해주세요" th:field="*{name}"/>
                                    <!-- /* #fields.hasErrors()  -> 유효성 체크에서 에러가 있는지 확인 */-->
                                    <!-- /* th:errors => 유효성 체크 에러메시지 출력 */-->
                                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       class="fieldError">Incorrect Data</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="email" class="text-black">이메일</label>
                                    <input type="email" class="form-control"
                                           placeholder="이메일을 입력해주세요" th:field="*{email}"/>
                                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                       class="fieldError">Incorrect Data</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="password" class="text-black">비밀번호</label>
                                    <input type="password" class="form-control"
                                           placeholder="비밀번호를 입력해주세요" th:field="*{password}"/>
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                       class="fieldError">Incorrect Data</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label th:for="address" class="text-black">주소</label>
                                    <input type="text" class="form-control"
                                           placeholder="주소를 입력해주세요" th:field="*{address}" />
                                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                       class="fieldError">Incorrect Data</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary mb-3">회원가입</button>
                                </div>
                            </div>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        //회원가입을 실패했을때 에러메시지 보여줌
        //ThymeLeaf에서는 [[]]
        var errorMessage = [[${}]];

        if(errorMessage != null) alert(errorMessage);

    </script>
</th:block>
</html>